<div class="container main emp-profile">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
        </div>
      </div>
      <div class="col-md-6 align-items-end">
        <div class="profile-head">
          <h5>Mpu</h5>
          <h3><%= dataInstructor.name %></h3>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="accStudentTab" data-toggle="tab" href="#acceptedStudent" role="tab" aria-controls="profile" aria-selected="false">Accepted Student</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="pendingStudentTab" data-toggle="tab" href="#pendingStudent" role="tab" aria-controls="profile" aria-selected="false">Pending Student</a>
              </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <% if (session) { %>
          <% if(session.userId == dataInstructor.id) { %>
            <a class="btn btn-primary" href='/instructor/<%= dataInstructor.id %>/edit'>Edit Profile</a>
          <% } %>
        <% } %>
      </div>
    </div>
    <div class="row">
      <form class="col-md-4">
        <% if (session) { %>
          <% if (session.userType !== 'instructor') { %>
          <a role='button' class="btn btn-primary" href='add-student'>Add to be your Teacher</a>              
          <% } %>
        <% } %>
          <ul>
            <% listTags.forEach(tag => { %>
              <li><%= tag %></li>
            <% }) %>
          </ul>
        </form>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <% if (action == 'edit') { %>
                <%- include('./editData.ejs') %>
              <% } else if (action == 'showData') { %>
                <form action='' method="POST">
                <%- include('./showData.ejs')%>
                </form>
              <% } %>
            </div>
            
            <div class="tab-pane fade" id="acceptedStudent" role="tabpanel" aria-labelledby="accStudentTab">
              <table class='table'>
                <thead>
                  <% headerStudent.forEach(key => { %>
                    <th scope='col'><%= key %></th>  
                  <% }) %>
                </thead>
                <% if (dataStudentAccept.length != 0) { %>
                  <tbody>
                    <% dataStudentAccept.forEach(oneRecord => { %>
                      <tr>
                      <% Object.values(oneRecord).forEach(oneData => {%>
                      <th scope='col'><%= oneData %></th>  
                      <% }) %>
                      </tr>
                    <% }) %>
                  </tbody>
                <% } %>
              </table>
            </div>
            <div class="tab-pane fade" id="pendingStudent" role="tabpanel" aria-labelledby="pendingStudentTab">
              <table class='table'>
                <thead>
                  <% headerStudent.forEach(key => { %>
                    <th scope='col'><%= key %></th>  
                  <% }) %>
                </thead>
                <% if (dataStudentPending.length != 0) { %>
                  <tbody>
                    <% dataStudentPending.forEach(oneRecord => { %>
                      <tr>
                        <% Object.values(oneRecord).slice(0,-1).forEach(oneData => {%>
                        <th scope='col'><%= oneData %></th>  
                        <% }) %>
                        <th scope='col'>
                          <a onClick="" href='<%= session.userId %>/accept-student/<%= oneRecord.id %>' class='btn btn-danger'>Reject</a> |
                          <a onClick="" href='<%= session.userId %>/reject-student/<%= oneRecord.id %>' class='btn btn-success'>Accept</a>
                        </th>
                      </tr>
                    <% }) %>
                  </tbody>
                <% } %>
              </table>
            </div>
          </div>
      </div>
    </div>          
  </div>